qos/src/org/cougaar/core/qos/frame/topology/cougaar-topology.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by QOS FrameGen -->
<!--   from /Volumes/Data/Projects/cougaar/HEAD/qos/src/org/cougaar/core/qos/frame/topology/cougaar-topology-protos.xml -->
<!--   at Aug 1, 2006 11:52:59 AM -->

<!-- Copyright BBN Technologies 2006 -->

<!ELEMENT cougaar-topology (indicator | contains | node | msgOutIndicator | IndicatorOnAgent | relationship | NodeOnHost | agent | msgInIndicator | thing | host | cpuIndicator | AgentInNode | msgIndicator)*>
<!ELEMENT indicator EMPTY>
<!ATTLIST indicator
          status CDATA #IMPLIED
          name CDATA #REQUIRED>
<!ELEMENT contains EMPTY>
<!ATTLIST contains
          parent-value CDATA #IMPLIED
          child-value CDATA #IMPLIED>
<!ELEMENT node EMPTY>
<!ATTLIST node
          bytesIn CDATA #IMPLIED
          cpuLoadAverage CDATA #IMPLIED
          msgIn CDATA #IMPLIED
          status CDATA #IMPLIED
          cpuLoadMJips CDATA #IMPLIED
          name CDATA #REQUIRED
          bytesOut CDATA #IMPLIED
          msgOut CDATA #IMPLIED
          vmSize CDATA #IMPLIED>
<!ELEMENT msgOutIndicator EMPTY>
<!ATTLIST msgOutIndicator
          calmThreshold CDATA #IMPLIED
          idleThreshold CDATA #IMPLIED
          watchSlot CDATA #IMPLIED
          status CDATA #IMPLIED
          normalThreshold CDATA #IMPLIED
          name CDATA #REQUIRED
          franticThreshold CDATA #IMPLIED
          busyThreshold CDATA #IMPLIED>
<!ELEMENT IndicatorOnAgent EMPTY>
<!ATTLIST IndicatorOnAgent
          parent-value CDATA #IMPLIED
          child-value CDATA #IMPLIED>
<!ELEMENT relationship EMPTY>
<!ATTLIST relationship
          parent-value CDATA #IMPLIED
          child-value CDATA #IMPLIED>
<!ELEMENT NodeOnHost EMPTY>
<!ATTLIST NodeOnHost
          parent-value CDATA #IMPLIED
          child-value CDATA #IMPLIED>
<!ELEMENT agent EMPTY>
<!ATTLIST agent
          bytesIn CDATA #IMPLIED
          cpuLoadAverage CDATA #IMPLIED
          persistSizeLast CDATA #IMPLIED
          msgIn CDATA #IMPLIED
          status CDATA #IMPLIED
          cpuLoadMJips CDATA #IMPLIED
          name CDATA #REQUIRED
          bytesOut CDATA #IMPLIED
          msgOut CDATA #IMPLIED>
<!ELEMENT msgInIndicator EMPTY>
<!ATTLIST msgInIndicator
          calmThreshold CDATA #IMPLIED
          idleThreshold CDATA #IMPLIED
          watchSlot CDATA #IMPLIED
          status CDATA #IMPLIED
          normalThreshold CDATA #IMPLIED
          name CDATA #REQUIRED
          franticThreshold CDATA #IMPLIED
          busyThreshold CDATA #IMPLIED>
<!ELEMENT thing EMPTY>
<!ATTLIST thing
          name CDATA #REQUIRED>
<!ELEMENT host EMPTY>
<!ATTLIST host
          loadAverage CDATA #IMPLIED
          jips CDATA #IMPLIED
          effectiveMJips CDATA #IMPLIED
          status CDATA #IMPLIED
          name CDATA #REQUIRED
          count CDATA #IMPLIED>
<!ELEMENT cpuIndicator EMPTY>
<!ATTLIST cpuIndicator
          calmThreshold CDATA #IMPLIED
          idleThreshold CDATA #IMPLIED
          watchSlot CDATA #IMPLIED
          status CDATA #IMPLIED
          normalThreshold CDATA #IMPLIED
          name CDATA #REQUIRED
          franticThreshold CDATA #IMPLIED
          busyThreshold CDATA #IMPLIED>
<!ELEMENT AgentInNode EMPTY>
<!ATTLIST AgentInNode
          parent-value CDATA #IMPLIED
          child-value CDATA #IMPLIED>
<!ELEMENT msgIndicator EMPTY>
<!ATTLIST msgIndicator
          calmThreshold CDATA #IMPLIED
          idleThreshold CDATA #IMPLIED
          status CDATA #IMPLIED
          normalThreshold CDATA #IMPLIED
          name CDATA #REQUIRED
          franticThreshold CDATA #IMPLIED
          busyThreshold CDATA #IMPLIED>
